.img {
  width: 75%;
  height: auto;
  border-radius: 999999px;
  border: solid 1px grey;
}
.card-content {
  padding: 50px;
}
.img-courses {
  width: 25%;
}
table {
  width: 80%;
}
td {
  width: 30%;
}
th {
  width: 30%;
}
.columna-courses {
  width: 20%;
}
.td-img {
  width: 30%;
}
.tabla {
  margin-top: 20px;
}
.iconDelete {
  color: rgb(138, 53, 53);
}
