.toolbar-container {
  display: flex;
  flex-direction: column;
  margin: 0px;
}
.btn {
  margin: 5px;
}
.opciones {
  display: flex;
  justify-content: flex-start;
}
.text {
  font-size: large;
  margin-top: 5px;
  margin-left: 2px;
  text-decoration: none;
}
