<div class="toolbar-container">
  <mat-selection-list #shoes [multiple]="false">
    <mat-list-option>
      <div class="opciones">
        <mat-icon color="primary">home</mat-icon>
        <a routerLink="" class="text">Home</a>
      </div>
    </mat-list-option>
    <mat-list-option>
      <div class="opciones">
        <mat-icon color="primary">school</mat-icon>
        <a routerLink="cursos/cursoslista" class="text">Cursos</a>
      </div>
    </mat-list-option>
    <mat-list-option>
      <div class="opciones">
        <mat-icon color="primary">person</mat-icon>
        <a routerLink="alumnos/alumnoslista" class="text">Alumnos</a>
      </div>
    </mat-list-option>
    <mat-list-option>
      <div class="opciones">
        <mat-icon color="primary">event</mat-icon>
        <a routerLink="" class="text">Inscripciones</a>
      </div>
    </mat-list-option>
    <mat-list-option>
      <div class="opciones">
        <mat-icon color="primary">card_giftcard</mat-icon>
        <a routerLink="" class="text">Beneficios</a>
      </div>
    </mat-list-option>
  </mat-selection-list>
</div>
