.boton-menu {
  color: rgb(211, 203, 243);
  position: sticky;
  top: 0px;
}
.toolbar-container {
  position: sticky;
  top: 0px;
}

.toolbar {
  display: flex;
  flex-direction: column;
  margin: 0px;
  position: sticky;
  top: 300px;
  z-index: 999;
  height: 100vh;
  background: #000;
  padding: 10px;
}
.btn {
  margin: 5px;
}
.opciones {
  display: flex;
  justify-content: flex-start;
}
.text {
  font-size: large;
  margin-top: 5px;
  margin-left: 2px;
  text-decoration: none;
  color: rgb(211, 203, 243);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
