<h1 mat-dialog-title>Agregar USUARIO</h1>
<div mat-dialog-content class="form-container">
  <form class="flex flex-column" [formGroup]="userForm">
    <mat-form-field appearance="fill">
      <mat-label>Nombre</mat-label>
      <input [formControl]="nameControl" matInput placeholder="" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Foto</mat-label>
      <input [formControl]="lastNameControl" matInput placeholder="" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Edad</mat-label>
      <input [formControl]="edadControl" matInput placeholder="" />
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-button [mat-dialog-close]="userForm.value" cdkFocusInitial>
    Ok
  </button>
</div>
