.cursando-img {
  width: 5%;
  object-fit: contain;
  margin-top: 10px;
  margin-right: 10px;
}
span {
  margin-bottom: 10px;
}
.optionCurso {
  display: flex;

  padding: 20px;
  width: 100%;
}
.form-container {
  width: 500px;
}
mat-form-field {
  margin-top: 10px;
}
