.wrapper {
  display: grid;

  height: 100vh;
  row-gap: 10px;
  column-gap: 10px;
}
.header {
  grid-column: 1 / 10;
  height: 140px;
}
.toolbar {
  grid-row: 2 / 10;
  grid-column: 1 / 2;
  background: #000;
}
.pagess {
  grid-column: 2 / 10;
  grid-row: 2 / 10;
  padding-right: 10px;
}
