<div class="header-container">
  <mat-toolbar color="primary" class="nav-menu">
    <span titleSize>CODINGHOME</span>
    <span class="example-spacer"></span>
    <button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
    >
      <mat-icon>favorite</mat-icon>
    </button>

    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
    >
      <mat-icon>share</mat-icon>
    </button>
    <div class="logout">
      <button
        class="logout-btn"
        mat-raised-button
        color="accent"
        (click)="logout()"
      >
        LogOut
      </button>
      <small>{{ loggedUser }}</small>
    </div>
  </mat-toolbar>
</div>
