.login-form-flex {
  display: flex;
  padding: 50px;
  justify-content: center;
  align-items: center;
  height: 100%;

  width: 100%;
}

.button-flex-container {
  display: flex;
  width: 20rem;
  justify-content: flex-end;
}
